In [0]:
import pandas as pd
import re
from collections import Counter

In [0]:
normal = pd.read_csv("normal.csv", encoding="cp949")
hoax = pd.read_csv("hoax.csv", encoding="cp949")
news = normal.append(hoax)

### Feature3 (the number of punctuations)

In [0]:
punctuation_list = ['…', '..', '‥', '?', '!']

feature3 = []
for title in news["title"]:
    a = 0
    for punctuation in punctuation_list:
        a += title.count(punctuation)
    feature3.append(a)
    
news['feature3'] = feature3

### Feature4 (the number of sensational words)

In [0]:
# feature4 (N)
hoax_words_list = ['충격','속보','고백','깜짝','경악','파격','노출','폭발','폭로','진짜','근황','분노','위기','반전','비키니','초토화']

hoax_words = []
for title in news["title"]:
    hoax_words1=[]
    for word in hoax_words_list:
        if word in title:
            hoax_words1.append(word)
    hoax_words.append(hoax_words1)
    
feature4 = []
for words in hoax_words:
    feature4.append(len(words))

news['feature4'] = feature4

In [0]:
normal = news[news["hoax"]==0]
hoax = news[news["hoax"]==1]

In [0]:
normal.to_csv("normal_featured345.csv", encoding="cp949")
hoax.to_csv("hoax_featured345.csv", encoding="cp949")

In [0]:
normal.describe()

        Unnamed: 0     hoax      feature3      feature4      feature5
count  10000.00000  10000.0  10000.000000  10000.000000  10000.000000
mean    4999.50000      0.0      0.394100      0.087300      0.198723
std     2886.89568      0.0      0.569752      0.304775      0.233422
min        0.00000      0.0      0.000000      0.000000      0.000000
25%     2499.75000      0.0      0.000000      0.000000      0.000000
50%     4999.50000      0.0      0.000000      0.000000      0.116279
75%     7499.25000      0.0      1.000000      0.000000      0.285714
max     9999.00000      0.0      4.000000      3.000000      0.995614

In [0]:
hoax.describe()

        Unnamed: 0     hoax     feature3      feature4      feature5
count  10000.00000  10000.0  10000.00000  10000.000000  10000.000000
mean    4999.50000      1.0      0.59660      0.418500      0.801277
std     2886.89568      0.0      0.61669      0.691524      0.255475
min        0.00000      1.0      0.00000      0.000000      0.007092
25%     2499.75000      1.0      0.00000      0.000000      0.743750
50%     4999.50000      1.0      1.00000      0.000000      0.944444
75%     7499.25000      1.0      1.00000      1.000000      1.000000
max     9999.00000      1.0      5.00000      4.000000      1.000000