In [0]:
import pandas as pd
import re
from collections import Counter

### training data

In [0]:
train_data = pd.read_csv("train.csv", encoding="cp949")

In [0]:
reporter = []

p = re.compile('([가-힣]{2,3})[ ]?(인턴)?[ ]?기자')

for contents in train_data["contents"]:
    m = p.search(contents)
    r = m.group(1) if m else 0
    reporter.append(r)

train_data["reporter"] = reporter

In [0]:
# 1번만 나온 기자 리스트
reporter1 = []

for (i, j) in Counter(reporter).most_common(1901) :
    if j == 1 :
        t = i
        reporter1.append(t)

In [0]:
feature5 = []

for i in train_data["reporter"] :
    b = sum(train_data["reporter"]==i)
    c = sum(train_data[train_data["hoax"]==1]["reporter"]==i)
    a = c / b
    feature5.append(a)
    
n = -1
for i in train_data["reporter"] :
    n += 1
    if i in reporter1 :
        feature5[n] = 0.5   # 평균값으로 대체

train_data["feature5"] = feature5

In [0]:
train_data.to_csv("train_featured5.csv", encoding="cp949")

### test data

In [0]:
test_data = pd.read_csv("test.csv", encoding="cp949")

In [0]:
test_reporter = []

for contents in test_data["contents"]:
    m = p.search(contents)
    r = m.group(1) if m else 0
    test_reporter.append( r )

test_data["reporter"] = test_reporter

In [0]:
feature5 = []

for i in test_data["reporter"] :
    if i in reporter :
        a = train_data["feature5"][reporter.index(i)]
    else : a = 0.5
    feature5.append(a)

test_data["feature5"] = feature5

In [0]:
test_data.to_csv("test_featured5.csv", encoding="cp949")

In [0]:
normal = news[news["hoax"]==0]
hoax = news[news["hoax"]==1]

In [0]:
normal.to_csv("normal_featured345.csv", encoding="cp949")
hoax.to_csv("hoax_featured345.csv", encoding="cp949")

In [0]:
normal.describe()

        Unnamed: 0     hoax      feature3      feature4      feature5
count  10000.00000  10000.0  10000.000000  10000.000000  10000.000000
mean    4999.50000      0.0      0.394100      0.087300      0.198723
std     2886.89568      0.0      0.569752      0.304775      0.233422
min        0.00000      0.0      0.000000      0.000000      0.000000
25%     2499.75000      0.0      0.000000      0.000000      0.000000
50%     4999.50000      0.0      0.000000      0.000000      0.116279
75%     7499.25000      0.0      1.000000      0.000000      0.285714
max     9999.00000      0.0      4.000000      3.000000      0.995614

In [0]:
hoax.describe()

        Unnamed: 0     hoax     feature3      feature4      feature5
count  10000.00000  10000.0  10000.00000  10000.000000  10000.000000
mean    4999.50000      1.0      0.59660      0.418500      0.801277
std     2886.89568      0.0      0.61669      0.691524      0.255475
min        0.00000      1.0      0.00000      0.000000      0.007092
25%     2499.75000      1.0      0.00000      0.000000      0.743750
50%     4999.50000      1.0      1.00000      0.000000      0.944444
75%     7499.25000      1.0      1.00000      1.000000      1.000000
max     9999.00000      1.0      5.00000      4.000000      1.000000